# Upgrading Cars

This demo uses the ```Cars 2005.csv``` data set we first saw in Week 2.

In [1]:
import pandas as pd

In [2]:
cars_df = pd.read_csv('Cars 2005.csv')
cars_df

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.10313,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.03608,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.84786,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.91314,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.17032,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1
5,15709.05282,22236,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
6,15230.00339,22576,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
7,15048.04218,22964,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
8,14862.09387,24021,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1
9,15295.01827,27325,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
10,21335.85248,10237,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,0,0
11,20538.08751,15066,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,0
12,20512.09409,16633,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,0
13,19924.15905,19800,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,1
14,19774.24907,23359,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,1
15,19344.16554,23765,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,0
16,19105.13012,24008,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,0,0
17,18543.42705,26034,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,1
18,17808.19900,32896,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,0
19,17968.83828,34665,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,1
20,22358.87768,8970,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,1,0
21,23785.92253,10577,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,1,1
22,22926.09037,14363,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,1,1
23,21895.75878,16508,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,1
24,21273.06171,18908,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,0
25,21460.01395,19467,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,1
26,21183.12359,21394,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,0
27,20406.09950,22596,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,0
28,21058.13958,24469,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,1,1
29,19556.89932,25245,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
774,14568.00225,18511,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
775,13122.90546,19101,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
776,13494.28878,19500,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,1,0,1
777,12036.21675,19853,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
778,12162.14005,21770,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,0
779,12333.60399,21877,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,0
780,12099.01458,22758,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,1,1,0
781,12119.08970,22826,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,1
782,11679.92355,23388,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,0
783,13216.91205,24069,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,0
784,12412.52111,24664,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
785,12284.28829,24740,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,1,1,0
786,12594.18301,26328,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,1
787,12105.98134,28298,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,0
788,11873.53399,28398,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,0
789,12965.22327,29707,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
790,10563.06616,32458,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,0
791,11413.53040,32619,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,1,0,1
792,11504.82455,33962,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,0
793,11521.52589,34998,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
794,18173.97808,5826,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,1
795,18490.98303,7755,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,1
796,17322.07840,10102,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,1
797,17978.35700,10986,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0
798,16425.17480,14242,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0
799,16507.07027,16229,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0
800,16175.95760,19095,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0
801,15731.13290,20484,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0
802,15118.89323,25979,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0
803,13585.63680,35662,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0

We want to identify all of the cars with at least one upgrade.

In [3]:
# We define a function to test whether a row represents a car with an upgrade

def has_upgrade(row):
    """ return True if a row represents a car with Cruise, Sound, or Leather upgrade"""
    
    if row['Cruise'] > 0 or row['Sound']>0 or row['Leather']>0:
        return True
    else:
        return False

A naive way to test whether each car has an upgrade is to iterate through each row in our data frame.  We do so using the ```iterrows()``` function and a list comprehension.  Notice that ```iterrows()``` returns two values: the row index, and the actual data contained in the row.

In [4]:
def upgrade_list(df):
    """ return a list of upgrade status for each row in a data frame """
    
    return [has_upgrade(row) for index,row in df.iterrows()]

We use the ```time``` command to see how long our loop takes.

In [5]:
%%time
print(upgrade_list(cars_df))

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, False, True, True, True, True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, False, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, False, True, True, True, True, False, False, True, False, True, False, True, False, True, True, False, True, True, False, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, False, True, True, True, True, True, True, True, True, False, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, False, True, True, True, True, True, False, True, False, True, False, True, True, True, True, True, True, True, True, True, True, True]
Wall time: 42.1 ms

We can try our loop several times using the %timeit magic command.  When used with a single percent sign, this command will time everything that follows it on the same line of code.

In [6]:
%timeit upgrade_list(cars_df)

38.3 ms ± 161 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

When used with two percent signs, this command will time everything in the same code cell.  This command must be the first thing in the code cell.

In [7]:
# Delete this comment so that %%timeit will work.
%%timeit
upgrade_list(cars_df)

SyntaxError: invalid syntax (<ipython-input-7-d2c10942b62d>, line 2)

We can avoid iterating through the rows by using the built-in ```apply``` function for data frames.

In [ ]:
%%timeit 
cars_df.apply(has_upgrade,axis=1)

Pandas has built-in functionality which allows us to select a subset of a data frame.  Run the code cell below to use this functionality to identify the cars with at least one upgrade.

In [ ]:
%%timeit
cars_df[(cars_df['Cruise']>0) | (cars_df['Sound']>0) | (cars_df['Leather']>0)]